@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}  
.custom-navbar {
    background-color:#3f1d38;
    color: #61dafb;
    padding: 10px;
  }
  
  .custom-navbar .brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #61dafb;
    font-family: Monserrat;
  }
  
  .custom-navbar .custom-link {
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .custom-navbar .custom-link:hover {
    color: #61dafb;
  }
  
 .button.navbar.toggler{
  background-color: #61dafb;
 }