@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}  
.custom-navbar {
    background-color:#3f1d38;
    color: #61dafb;
    padding: 10px;
  }
  
  .custom-navbar .brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #61dafb;
    font-family: Monserrat;
  }
  
  .custom-navbar .custom-link {
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .custom-navbar .custom-link:hover {
    color: #61dafb;
  }
  
 .navbar-toggler {
  background-color: #61dafb;
 }



 .promo-banner {
  background-color: #3f1d38;  /* Fondo del banner */
  color: #fff;  /* Color del texto */
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
