
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}  
.footer-container {
    background-color:#3f1d38;
    color:#61dafb;
    padding: 2rem 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .tech {
    color: white;
  }
  
  .store {
    color: #61dafb;
  }
  
  .footer-social, .footer-legal {
    display: flex;
    flex-direction: column;
  }
  
  .footer-social h3, .footer-legal h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .footer-social ul, .footer-legal ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social li, .footer-legal li {
    margin-bottom: 0.5rem;
  }
  
  .footer-social a, .footer-legal a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-social a:hover, .footer-legal a:hover {
    color: #61dafb;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .footer-logo, .footer-social, .footer-legal {
      margin-bottom: 2rem;
    }
  }